body {
  font-family: helvetica, sans-serif;
}

@mixin button($color1, $color2) {
  width: 100px;
  margin: 20px auto;
  color: white;
  background-color: $color1;
  padding: 8px;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
  &:hover {
    background-color: $color2;
  }
}

.add-recipe-btn {
  @include button(green, darkgreen);
}

.ingredient {
  display: block;
}

.recipe-form-div {
  background: white;
  position: absolute;
  border: 1px solid black;
  width: 600px;
  left: calc(50% - 300px);
  top: 20vh;
  box-shadow: -2px 2px 4px black;
  transition: 500ms;
  display: block;
  font-size: 22px;
  h3 {
    text-align: center;
  }
  input, textarea {
    display: block;
    margin: 10px auto;
    width: 90%;
    font-size: 22px;
    border: 1px solid lightgray;
  }
  textarea {
    resize: none;
  }
  #submit-form-btn {
    @include button(blue, navy);
  }
}

.hide {
  display: none;
}
